#options-header {
  background-color: #3F8BA2;
  color: white;
  height: 40px;
}

label {
  margin-right: 15px;
}

.error-message {
  color: red;
}

.btn.btn-primary {
  background-color: #3F8BA2;
  border: black 1px solid;
}

.form-check-input:checked {
  background-color: #3F8BA2;
}